

{% extends "layout.html" %}


{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            
            
            <input autocomplete="off"  name="username" placeholder="dsfg dfsg" type="text">
        </div>
        
        
        <div class="form-group">
            <input autocomplete="off"  name="password" placeholder="df gdsf g" type="password" >
        </div>


        <div class="form-group">
            <input autocomplete="off"  name="confirmation" placeholder="hello (again)" type="password">
        </div>
        <button class="" type="submit">rfeg</button>
    </form>
{% endblock %}