

{% extends "layout.html" %}

{% block title %}
    ffffffffffsa fsadf sdaf
{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class=" ">
            <input autocomplete="off" autofocus required class=" " name="password" placeholder="sdg ghfg hfg" type="password">
        </div>

        <div class=" ">
            <input autocomplete="off" required class=" " name="new_password" placeholder="Nfd ghdf f hhd grd" type="password">
        </div>


        <div class=" ">
            <input autocomplete="off" required class=" " name="confirmation" placeholder="Nhjellol rd (again)" type="password">
        </div>


        <button class=" " type="submit">Change ffffffffffffffas a </button>
    </form>
{% endblock %}