{% extends "layout.html" %}
qwer
{% block main %}
    <form action="sell" method="post">


        <div class="form-group">

            <select class="qwr" name="symbol">

                <option disabled selected value>gfj gh jgj</option>
                {% for row in symbols %}



                    <option value="{{ row.symbol }}">{{ row.symbol }}</option>
                {% endfor %}


            </select>
        </div>
        <div class="form-group">
            <input class="form-jj" name="shares" placeholder="wqrwqr" type="number" min=1>
        </div>
        <button class="j btn-j" type="submit">fgjr</button>
    </form>
{% endblock %}